torch==2.3.1
transformers==4.45.2
tokenizers==0.20.3
scikit-learn==1.6.1
pandas==2.2.2
numpy==2.2.3
streamlit==1.50.0
plotly==5.22.0
requests==2.31.0
joblib==1.4.2
newspaper3k==0.2.8
lxml==4.9.3
lxml-html-clean==0.1.0
shap==0.45.0
lime==0.2.0.1
sentencepiece==0.2.0
accelerate==0.34.2
